
p {
    font-size: 25px;
    color: red;
    }
    .Rain {
        font-size: 25px;
        color: darkblue;
        background-color: yellow;
    }
    .parent {
        background-color: yellow;
        width: 100%;
        position: relative
    }
    .child {
        background-color: aqua;
        width: 100%;
        position: relative
p }